S3method(coef,brgas_fit)
S3method(plot,brgas_fit)
S3method(print,brgas_fit)
S3method(print,summary_brgas_fit)
S3method(summary,brgas_fit)
export(backtest_var_es)
export(coef.brgas_fit)
export(filter_brgast)
export(fit_brgast)
export(forecast_var_es)
export(mean_fz_loss)
export(plot.brgas_fit)
export(plot_var_es_forecasts)
export(print.brgas_fit)
export(print.summary_brgas_fit)
export(roll_brgast)
export(sample_data)
export(simulate_brgast)
export(summary.brgas_fit)
